In [0]:
import pandas as pd
import numpy as np
import pickle
import matplotlib.pyplot as plt
import seaborn as sns
from scipy import sparse
from sklearn.metrics import mean_squared_error
import warnings
warnings.filterwarnings(action='once')

%config InlineBackend.figure_format = 'retina'
%matplotlib inline

sns.set_style('white')

In [2]:
df = pd.read_csv('preprocessed_ratings.csv')
df.head()

   gameid     username  rating
0       1      aandjso     9.0
1       1  aaronseeber     9.0
2       1   adamdynris     8.5
3       1        adams     6.5
4       1        adamw     8.5

In [3]:
df = df.drop_duplicates()  #drop all duplicates
df.shape

(686640, 3)

In [4]:
df_train = pd.read_csv('train_data.csv')
df_train.head()

   gameid    username  rating
0   22287       ftola     7.0
1     118    altair79     6.0
2  119890  sthforever     9.0
3   98778       mooka     6.0
4    8045     deltarn     7.0

In [5]:
df_train = df_train.drop_duplicates()  #drop all duplicates
df_train.shape

(549312, 3)

In [6]:
df_test = pd.read_csv('test_data.csv')
df_test.head()

   gameid      username  rating
0       1    adamdynris     8.5
1       1       adebisi     6.0
2       1      Alexfrog     9.0
3       1        alfman     8.0
4       1  Andy Parsons     8.0

In [7]:
df_test = df_test.drop_duplicates()  #drop all duplicates
df_test.shape

(137328, 3)